absl-py
annotated-types
anyio
attrs
beautifulsoup4
certifi
cffi
charset-normalizer
click
dnspython
email_validator
fastapi
filelock
flatbuffers
fsspec
greenlet
h11
httpcore
httpx
idna
iso8601
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
mdurl
ml_dtypes
networkx
numpy
opencv-python
orjson
packaging
pandas
Pillow
protobuf
psutil
pydantic
pydantic-extra-types
pydantic-settings
python-dateutil
python-dotenv
python-multipart
requests
scipy
SQLAlchemy
starlette
torch  
torchvision
typer
typing_extensions
tzdata
ujson
ultralytics
urllib3
uvicorn
watchfiles
websockets
setuptools
distutils
